<table class="table table-striped">
  <thead>
    <tr>

      <th width=''></th>
      <th width=''> 平台 </th>
      <th width=''>账号</th>
    </tr>
  </thead>

  <tbody>
    <% shops.each do |item| %>
    <tr>

      <td></td>
      <td> <%= raw item.human_platform %> </td>
      <td id='platform-<%=item.platform_id%>' class='platform-td'> 
        <% if item.binded? %>
          <span style='color:green;'>已绑定</span>
        <% else %>
          <span style='color:red;'>未绑定</span>
        <% end %>
        &nbsp;
        
        <%= bind_link item, source_url %>
        
        <% if PLATFORMS.select{ |k, v| v[:id] == item.platform_id}.first.first == :paipai %>
          <%= render 'shops/bind_paipai', :shop => item %>
        <% end %>
      </td>
    </tr>
    <% end %>
    
  </tbody>
</table>