
<div class='row'>
  <div class='span2'>
    <%= render 'shared/settings_sidebar' %>
  </div>
  
  <div class='span10'>
    <div class="tools" style='margin:10px 0;'>
      <%= link_to '返回店铺管理首页', shops_path %>
    </div>
    
    <h2>新增店铺账号</h2>
    <br/>

    <%= render 'form' %>
  </div>
</div>