
<div class="well" style="padding: 12px 0;">
  <ul class="nav nav-list">
    <li class="<%= action_name == 'index' ? 'active' : '' %>">
      <a href="/docs"><i class="icon-white "></i> 帮助 </a>
    </li>

  </ul>
</div>

<%= render 'shared/bulletin_board' %>
<%= render 'shared/fast_tools' %>