
<div class="well" style="padding: 12px 0;">

  <ul class="nav nav-list">
    <li>
      <a href="#"><i class="icon-white "></i>快捷方式</a>
    </li>
    <li>
      <a href="#"><i class="icon-white "></i>快捷方式</a>
    </li>
    
  </ul>
</div>